<a href="https://colab.research.google.com/github/Aman78695/Data_Analysis_Sales_Insights_sql/blob/main/Analysis_Report_Sales_and_Customer_Insights_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

~~~~sql
    create database APNIBUS;
use APNIBUS;

#creating back up tables;
create table customer_backup like customer_data;
create table inventory_backup like inventory_data;
create table product_backup like product_data;
create table sales_backup like sales_data;

#inserting values into backup tables
insert into customer_backup
select * from customer_data;

insert into inventory_backup
select * from inventory_data;

insert into product_backup
select * from product_data;


insert into sales_backup
select * from sales_data;

#checking the information about schema
select * from information_schema.tables
where table_schema='apnibus';

#dropping the null valus from customer data
delete from customer_data where `index` in (select `index` from customer_data where customer_id is null and name is null and age is null and gender is null);
#dropping the null values from product_data
delete from product_data where `index` in (select `index` from product_data where product_id is null and name is null and category is null and price is null);
                                            
#dropping the null values from sales_data
delete from sales_data where `index` in (select `index` from sales_data where transaction_id is null and customer_id is null and product_id is null and date is null and quantity  is null and amount is null);
                                            
#checking duplicate values in customer_data
select customer_id,name,age,gender,count(*) from customer_data
group by customer_id,name,age,gender;

#checking duplicate values in product_data
select product_id,name,category,price,count(*) from product_data
group by product_id,name,category,price;

#checking duplicate values in sales_data
select transaction_id,product_id,customer_id,date,quantity,amount,count(*) from sales_data
group by transaction_id,product_id,customer_id,date,quantity,amount;

#changing the data type of date column from sales_data to date type
alter table sales_data modify column date date;


#Data Analysis

#Calculating the total revenue generated by the company for each product category.
select t1.category,sum(t2.quantity*t2.amount) as total_sales from product_data t1
join sales_data t2 on t1.product_id=t2.product_id
group by t1.category order by total_sales desc;

~~~~sql

#Determining the top 5 customers who have made the highest total purchases, considering
#the customer's age and gender.
select t1.name,t1.age,t1.gender,t2.quantity*t2.amount as total_purchased from customer_data t1
join sales_data t2 on t1.customer_id=t2.customer_id order by total_purchased desc limit 5;

#adding a new column to sales_data for avg calculation
alter table sales_data add column total_avg_sales int;
update sales_data  set total_avg_sales=(select sum(quantity*amount)/quantity);
select * from sales_data ;
#Identifing the most profitable product category by calculating the average revenue per unit sold.
select t1.category,avg(total_avg_sales) as total_avg from product_data t1
join sales_data t2 on t1.product_id=t2.product_id
group by t1.category order by total_avg desc;

#Analyz the inventory data and identify products that need restocking (stock count less
#than a specified threshold.
select * from inventory_data;
select product_id,stock_count from inventory_data where stock_count<10 order by stock_count;

#SQL query to calculate the average age of customers for each product category
select t3.category,round(avg(age)) as avg_age_category_wise from product_data t3 join
(select t1.name,t1.age,t2.product_id from customer_data t1 join sales_data t2 on t1.customer_id=t2.customer_id) t4
on t3.product_id=t4.product_id group by t3.category;

#a SQL query to retrieve the top 3 product categories that have the highest average
#transaction amount.
SELECT category, AVG(amount) AS average_amount
FROM sales_data
JOIN product_data ON sales_data.product_id = product_data.product_id
GROUP BY category
ORDER BY average_amount DESC
LIMIT 3;

~~~~

~~~~
Introduction:

The purpose of this analysis is to gain insights into the sales data and product inventory of a company. By examining the dataset provided, we aim to understand various aspects such as revenue by product category, customer purchasing behavior, product restocking needs, and average customer age by product category. This analysis will help the company make informed decisions regarding product management, inventory planning, and customer engagement.

Dataset Description:

The dataset used for this analysis consists of four main tables: Customers, Products, Sales, and Inventory. Each table contains specific information related to the company's customers, products, sales transactions, and product inventory. Let's briefly describe each table:

1. Customers:
   - customer_id: Unique identifier for each customer.
   - name: Customer's name.
   - age: Customer's age.
   - gender: Customer's gender.

2. Products:
   - product_id: Unique identifier for each product.
   - name: Product name.
   - category: Product category.
   - price: Price of the product.

3. Sales:
   - transaction_id: Unique identifier for each transaction.
   - customer_id: Unique identifier for each customer.
   - product_id: Unique identifier for each product.
   - date: The date of the transaction.
   - quantity: The quantity of products purchased in that transaction.
   - amount: The total amount spent in that transaction.

4. Inventory:
   - product_id: Unique identifier for each product.
   - stock_count: The current stock count for each product.

These tables collectively provide comprehensive information about customers, products, sales transactions, and inventory levels, which will be analyzed to derive meaningful insights and recommendations.

By analyzing this dataset, we will uncover trends, patterns, and relationships that will assist in understanding the company's sales performance, customer preferences, and product management requirements. The following sections will delve into specific findings and analyses based on the provided dataset.

Data Cleaning and Preprocessing Steps:

Before conducting the analysis, it is important to ensure that the dataset is clean and ready for analysis. The following data cleaning and preprocessing steps were performed:

1. Removing Null Values:
   - Null values in the customer_data table were removed by deleting rows where customer_id, name, age, and gender were all null.
   - Null values in the product_data table were removed by deleting rows where product_id, name, category, and price were all null.
   - Null values in the sales_data table were removed by deleting rows where transaction_id, customer_id, product_id, date, quantity, and amount were all null.

2. Data Type Conversion:
   - The data type of the date column in the sales_data table was changed to the date type using the ALTER TABLE statement.

These data cleaning and preprocessing steps ensure that the dataset is free from null values and the data types are appropriate for analysis.


Findings and Analysis:

Total Revenue by Product Category:

The table below shows the total revenue generated by the company for each product category:

| Category     | Total Revenue |
|--------------|--------------:|
| Electronics  |       1619.94 |
| Accessories  |        319.94 |
| Apparel      |        143.95 |
| Books        |        116.91 |
| Footwear     |         59.99 |

From the analysis, we can observe that the "Electronics" category generated the highest total revenue of 1619.94 units, followed by "Accessories" with a revenue of 319.94 units. The "Apparel" category generated a total revenue of 143.95 units, while "Books" and "Footwear" categories generated revenue of 116.91 and 59.99 units, respectively.

This analysis provides insights into the revenue generated by different product categories, helping the company identify the most profitable categories and make informed business decisions accordingly.

Findings and Analysis:

Top Customers by Total Purchases:

The table below lists the top 5 customers who have made the highest total purchases:

| Name          | Age | Gender | Total Purchased |
|---------------|-----|--------|----------------:|
| David Miller  |  45 | Male   |          799.99 |
| Emily Brown   |  31 | Female |          499.99 |
| Emma Wilson   |  33 | Female |          319.96 |
| Sarah Johnson |  26 | Female |          149.99 |
| Olivia Davis  |  37 | Female |          119.96 |

From the analysis, we can observe that David Miller is the top customer who has made the highest total purchases, amounting to 799.99 units. Emily Brown follows with a total purchase of 499.99 units. Emma Wilson, Sarah Johnson, and Olivia Davis are also among the top customers with total purchases of 319.96, 149.99, and 119.96 units, respectively.

This analysis helps the company identify its valuable customers and their purchasing patterns, enabling personalized marketing strategies and customer retention efforts.

Findings and Analysis:

Most Profitable Product Category:

The table below presents the average revenue per unit sold for each product category:

| Category    | Average Revenue per Unit Sold |
|-------------|------------------------------:|
| Electronics |                     486.6667 |
| Accessories |                      86.6667 |
| Footwear    |                      60.0000 |
| Apparel     |                      46.0000 |
| Books       |                      39.0000 |

From the analysis, we can determine that the Electronics category is the most profitable product category with an average revenue of 486.6667 units per unit sold. The Accessories category follows with an average revenue of 86.6667 units per unit sold. The Footwear, Apparel, and Books categories have average revenues of 60.0000, 46.0000, and 39.0000 units per unit sold, respectively.

Identifying the most profitable product category helps the company focus its marketing efforts, allocate resources, and make informed decisions to maximize profitability.

Findings and Analysis:

Products Needing Restocking:

The table below displays the products that need restocking, based on a specified stock count threshold:

| Product ID | Stock Count |
|------------|------------:|
| 8          |           3 |
| 2          |           5 |
| 7          |           6 |
| 10         |           7 |
| 5          |           8 |

From the analysis, we can identify the products that have a stock count below the specified threshold. The products with Product IDs 8, 2, 7, 10, and 5 need restocking as their stock counts are 3, 5, 6, 7, and 8, respectively. Taking appropriate action to restock these products ensures that the company maintains sufficient inventory levels and meets customer demands.

Findings and Analysis:

Average Age of Customers by Product Category:

The table below presents the average age of customers for each product category:

| Product Category | Average Age |
|------------------|------------:|
| Apparel          |          29 |
| Electronics      |          36 |
| Footwear         |          35 |
| Books            |          42 |
| Accessories      |          34 |

Based on the analysis, we can observe the average age of customers for each product category. Customers in the Apparel category have an average age of 29, while those in the Electronics category have an average age of 36. The Footwear category has an average age of 35, the Books category has an average age of 42, and the Accessories category has an average age of 34. Understanding the average age of customers in different product categories can help in tailoring marketing strategies and product offerings to specific age groups, improving customer satisfaction and engagement.

Findings and Analysis:

Top 3 Product Categories by Average Transaction Amount:

The table below showcases the top 3 product categories with the highest average transaction amount:

| Product Category | Average Transaction Amount |
|------------------|--------------------------:|
| Electronics      |                  486.65 |
| Accessories      |                   86.65 |
| Footwear         |                   59.99 |

Based on the analysis, the Electronics category has the highest average transaction amount of 486.65, followed by the Accessories category with an average transaction amount of 86.65. The Footwear category ranks third with an average transaction amount of 59.99. These findings highlight the product categories that generate higher revenue per transaction, indicating their popularity among customers and the potential for increased profitability. Understanding the product categories with higher average transaction amounts can assist in strategic decision-making, such as allocating resources, optimizing marketing efforts, and identifying opportunities for growth.

~~~~